<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template1">
<head>
    <meta charset="UTF-8"></meta>
    <title>Access Denied</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">ACCESS DENIED</div>
                    <div class="panel-body">
                        <div class="text-danger">YOU DONT HAVE ACCESS TO THIS OPERATION</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>