<!DOCTYPE html>
<html lang="en"  xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >
<head>
    <meta charset="UTF-8"></meta>
    <title>authentification</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css"
          th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" href="../css/myStyle.css"
          th:href="@{/css/myStyle.css}"/>
</head>
<body>
    <div class="container">
        <div class=" spacer40 col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Authentification</div>
                <div class="panel-body">
                        <div class="text-danger" th:if="${param.error}">
                            incorrect username or password
                        </div>
                    <div class="text-active" th:if="${param.logout}">
                        you have been logged out
                    </div>
                    <form th:action="@{/login}" method="post">
                        <div>
                            <label>userName:</label>
                            <input  name="username"/>
                        </div>
                        <div>
                            <label>password</label>
                            <input type="password" name="password"/>
                        </div>
                        <button type="submit" class="btn btn-primary">login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>
</html>